<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- You can set your favicon here -->
<link href="https://uploads-ssl.webflow.com/60a0ecf0a2dbd71422d66f01/6155e204aed1450921700425_Favicon32.png" rel="shortcut icon" type="image/x-icon"/>
<link href="https://uploads-ssl.webflow.com/60a0ecf0a2dbd71422d66f01/6155e2085d9da7053698fbf0_Favicon256.png" rel="apple-touch-icon" type="image/x-icon"/>
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->

<!-- end custom head snippets -->
